<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">
    Word Limit : {{limit}}
  </div>
  <input
    class="slider form-control-range"
    type="range"
    min="1"
    max="50"
    value="{{ limit }}"
    (change)="handleSlideChange($event.target.value)"
  />
  <button (click)="generate()" class="btn btn-info">Generate Words</button>
  <button (click)="randomCountry()" class="btn btn-info">Generate Countries</button>
  <div class="card card-body" *ngIf="words">
    <p class="display-4">
      {{ words }}
    </p>
  </div>
</div>
